{
    "propel": {
        "paths": {
            "schemaDir": "C:\\Users\\Johannes Teklote\\Documents\\eventmap\\eventmap\\api\\database",
            "phpDir": "C:\\Users\\Johannes Teklote\\Documents\\eventmap\\eventmap\\api\\models"
        }
    }
}