{
    "propel": {
        "paths": {
            "schemaDir": "D:\\Dropbox\\Dokumente\\workspace-intellij\\eventmap\\api\\database",
            "phpDir": "D:\\Dropbox\\Dokumente\\workspace-intellij\\eventmap\\api\\models"
        }
    }
}