@import 'bourbon/bourbon'
@import 'navigation'
@import 'indexpage'
@import 'mappage'
@import 'aboutpage'

*
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0)


body, html
  height: 100%
  width: 100%


.contentbox
  margin: 0 auto
  padding-top: 70px





.input-radius
  width: calc(100% - 50px)
  border-radius: 5px 0px 0px 5px
  display: inline-block

.km-addition
  background: #fff
  border-radius: 0px 5px 5px 0px
