doctype html
html
  head
    title eventmap
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(href="../res/css/bootstrap.min.css" rel="stylesheet")
    link(href="landing.css" rel="stylesheet")
  body
    
    .overlay
      .container.search-block
        .col-md-3.col-md-offset-2
          input.form-control.index-control.custom-input-index(placeholder="Stadt")
        .col-md-3
          select.form-control.index-control.custom-input-index
            option(selected) Alle
            option Festivals
            option Party
            option Konzerte
        .col-md-3
          button.btn.custom-btn.index-control.custom-btn-index Suchen
    .map
    
    
    
          
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js")
    script(src="../res/js/bootstrap.min.js")
  
  
