/*navigation */
.logo {
    margin-top: -8px;
    float: left;
}

.eventnav {
    background-color: #000;
    color: #fff;
    border: 0px;
    border-radius: 0px;
}

.navbar-form {
    -webkit-box-shadow: none;
    box-shadow: none;
    border-top: 0px;
}

.navbar-default {
    padding: 5px;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #2b2b2b;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: rgba(128, 236, 147, 0.9);
}

.navbar-default .navbar-toggle.active .icon-bar {
    background-color: crimson;
}

.navbar-toggle .icon-bar {
    position: relative;
    transition: all 500ms ease-in-out;
}

.navbar-toggle .icon-bar:nth-of-type(2) {
    top: 1px;
}

.navbar-toggle .icon-bar:nth-of-type(3) {
    top: 2px;
}

.navbar-toggle .icon-bar:nth-of-type(4) {
    top: 3px;
}

.navbar-toggle.active .icon-bar:nth-of-type(2) {
    transform: rotate(-45deg) translateY(10px);
}

.navbar-toggle.active .icon-bar:nth-of-type(3) {
    top: 0px;
    background: transparent;
}

.navbar-toggle.active .icon-bar:nth-of-type(4) {
    transform: rotate(45deg) translateY(-10px);
}

.navbar-default .navbar-nav > li > a {
    color: #a0a0a0;
    transition: color 0.2s;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #a0a0a0;
    background: #1f1f1f;
}

.navbar-map {
    margin-bottom: 0px;
}

.custom-btn-map-nav {
    background: #000;
    border-radius: 5px;
    border: 1px solid #fff;
    color: #fff;
    padding-left: 20px;
    padding-right: 20px;
    transition: all 0.2s;
}

.custom-btn-map-nav:hover {
    color: #000;
    background: #fff;
}

.custom-btn-map-nav {
    background: #000;
    border-radius: 5px;
    border: 1px solid #fff;
    color: #fff;
    padding-left: 20px;
    padding-right: 20px;
    transition: all 0.2s;
}

.custom-btn-map-nav:hover {
    color: #000;
    background: #fff;
}

@media (max-width: 767px) {
    .custom-btn-map-nav {
        width: 100%;
    }

    .input-nav {
        padding: 5px;
    }

    .navbar-form {
        padding: 20px 10px;
    }

    .navbar-default .navbar-toggle {
        border-color: transparent;
        border: 0px;
    }

    .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
        background-color: #000 !important;
    }

    .show-events {
        width: 100%;
    }
}

/*index.html */
.index-text {
    font-size: 50px;
    color: #fff;
    padding: 10px 10px 75px 10px;
}

body, html {
    height: 100%;
    width: 100%;
    background-color: #eee;
}

body.bgimage {
    background: url("../img/index.png") no-repeat;
    background-size: cover;
}

.overlay {
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
}

.search-block {
    position: relative;
    padding: 10px;
    top: 20vh;
}

.custom-btn-index {
    width: 100%;
    border-radius: 100px;
    background: rgba(128, 236, 147, 0.9);
    color: #000;
    margin-top: 20px !important;
    transition: all 0.25s ease-in-out;
}

.custom-btn-index:hover {
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
}

.waiting-container {
    display: none;
    color: #fff;
}

.waiting-container.waiting {
    display: block;
}

.waiting-container .cssload-container {
    margin: 20px 0 10px 0;
}

.custom-btn-map-nav {
    background: #000;
    border-radius: 5px;
    border: 1px solid #fff;
    color: #fff;
    padding-left: 20px;
    padding-right: 20px;
    transition: all 0.2s;
}

.custom-btn-map-nav:hover {
    color: #000;
    background: #fff;
}

.custom-input-index {
    color: black;
}

.input-radius {
    width: calc(100% - 50px);
    border-radius: 5px 0 0 5px;
    display: inline-block;
}

.km-addition {
    background: #fff;
    border-radius: 0 5px 5px 0;
}

#eventlist-container {
    position: relative;
    width: 100%;
    background: #eee;
    overflow: auto;
}

#eventlist-container .help-block {
    margin: 0;
    font-size: 12px;
}

#eventlist-container .help-block div {
    padding: 10px 20px;
}

#eventlist-container .help-block strong {
    font-size: 14px;
}

#googleMap {
    height: 100%;
}

.show-events {
    margin: 0;
    padding-bottom: 0;
}

ul.show-events {
    list-style: none;
    padding: 0;
    min-height: 1px;
    overflow-y: auto;
}

ul.show-events > li {
    width: 95%;
    background: #fff;
    padding: 10px 15px 0 15px;
    margin: 5px auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

ul.show-events > li img {
    width: 60px;
    height: 60px;
    display: inline-block;
    float: left;
}

ul.show-events > li .about-event-li {
    padding: 0 10px;
    display: inline-block;
    width: calc(100% - 60px);
}

ul.show-events > li .about-event-li .event-list-headline {
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 5px;
}

ul.show-events > li .about-event-li .event-kategorie {
    font-style: italic;
    font-size: 16px;
    font-weight: normal;
    padding: 0 5px;
}

ul.show-events > li .about-event-li .termin {
    color: #989898;
}

ul.show-events > li .about-event-li .event-time {
    color: #989898;
}

.more-button {
    text-align: center;
    width: 100%;
    color: #d0d0d0;
    padding-top: 10px;
    cursor: pointer;
}

.description {
    min-height: 1px;
    width: 100%;
    background: #fff;
    display: none;
    padding: 10px 0px;
}

a.website_link {
    background: #fff;
    border-radius: 5px;
    border: 1px solid #000;
    color: #000;
    padding: 10px 10px;
    text-align: center;
    display: inline-block;
    width: 100%;
    margin-top: 10px;
    transition: all 0.2s;
}

a.website_link:hover {
    background: #000;
    color: #fff;
    text-decoration: none;
}

@media (max-width: 767px) {
    .index-text {
        font-size: 40px;
        padding: 10px 10px 30px 10px;
    }

    .index-text {
        font-size: 40px;
        padding: 10px 10px 30px 10px;
    }

    .custom-btn-map-nav {
        width: 100%;
    }

    .input-nav {
        padding: 5px;
    }

    .navbar-form {
        padding: 20px 10px;
    }

    .navbar-default .navbar-toggle {
        border: 0 transparent;
    }

    .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
        background-color: #000 !important;
    }
}

@media (max-width: 767px) and (orientation: portrait) {
    #googleMap {
        height: calc(50% - 30px); /* minus halbe Navigationshöhe */
    }
    
    #eventlist-container {
        height: calc(50% - 30px); /* minus halbe Navigationshöhe */
    }
}

@media (max-width: 767px) and (orientation: landscape) {
    #googleMap {
        float: left;
        width: 50%;
        height: calc(100% - 60px); /* minus Navigationshöhe */
    }
    
    #eventlist-container {
        float: right;
        width: 50%;
        height: calc(100% - 60px); /* minus Navigationshöhe */
    }
}

@media (min-width: 768px) {
    #googleMap {
        height: 100%;
    }
    
    #eventlist-container {
        top: 0;
        max-height: calc(100vh - 60px); /* minus Navigation */
        min-width: 250px;
        max-width: 30%;
        float: left;
        overflow-y: auto;
    }
}

#event-pagination .pagination {
    margin: 0;
    padding: 10px;
}

.overlay-about {

    background: rgba(30, 168, 249, 0.85);
    width: 100%;
    min-height: 100%;
    position: absolute;
}

.about-img {
    background: url('../img/map.png');
    -webkit-background-size: cover;
    background-size: cover;
    width: 100%;
    min-height: 100%;
}

.about-us-box {
    display: block;
    max-width: 800px;
    margin: 10px auto 0 auto;
    color: #fff

}

.member-box {
    height: 250px;
    width: 100%;
    background: #fff;
    margin: 0 0 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px
}

.member-img {
    width: 150px;
    height: 150px;
    padding: 20px;
    border-radius: 100%
}

.member-text-box {
    color: #000;
    padding: 10px
}

.member-text-box p {
    text-align: center;
}

@media (max-width: 771px) {
    .input-map {
        width: 100% !important;
        border-radius: 5px !important;
        margin: 5px 0px;
    }
}

/*about.html */
* {
    -webkit-tap-highlight-color: transparent;
}

.contentbox {
    margin: 0 auto;
    padding-top: 70px;
}

.input-radius {
    width: calc(100% - 50px);
    border-radius: 5px 0px 0px 5px;
    display: inline-block;
}

.km-addition {
    background: #fff;
    border-radius: 0px 5px 5px 0px;
}

/*# sourceMappingURL=styles.css.map */

.loading-container {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, .9);
    z-index: 5;
}

.loading-container.loading {
    display: block;
}

.loading-container .cssload-container {
    position: relative;
    top: 50vh;
    -webkit-transform: translateY(-55%);
    -moz-transform: translateY(-55%);
    -ms-transform: translateY(-55%);
    -o-transform: translateY(-55%);
    transform: translateY(-55%);
}